html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

header {
    background-color: black;
    color: white;
}

#midtstilt { /* # bruker me for ID, som det berre skal finnast ein for. */
    width: 600px;
    background-color: white;
    color: black;
    margin: auto;
}

#midtstilt p {
    padding: 10px;
}

header h1 {
    padding: 10px;
}

.advarsel { /* . bruker me for class, som kan gjenbrukast. Forsøk sjølv: Legg denne til for ein header. */
    background-color: red;
    color: white;
}